.container {
	width: 100wh;
	height: 100vh;
	color: #fff;
}

.spaceArea {
  padding-left: 50px;
  padding-top: 10px;
  max-height: 600px !important;
}

.sideNavButton{
  position: fixed;
  top: 45%;
  left: -1%;
  text-align: center;
  z-index: 99999 !important;
}
